body{
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: red;
}

input{
	width: 85%;
	font-size: 30px;
}

.navbar {
	height: 10%;
	border-bottom: 5px double black;
}

.navitems {
	padding: 0 5%;
	position: relative;
	top: -5px;
	font-size: 20px;
}


.search{
	width: 60%;
	height: 40%;
	margin: 15px auto;
}

.searchitems{
	padding: 0 5px;
	align: center;
	margin: 0 auto;
	font-size: 30px;

}

.location,a.searchIcon {
	background-color: #d7dbe2;
	font-size: 30px;	
}

a.searchText{
	height: 100%;
	font-size: 30px;
}

.footitems {
	padding: 5% 5%;
	top: -5px;
	font-size: 20px;
}

#logo{
	width: 15%;
	vertical-align: middle;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 3px double black;
	padding: 0 auto;
}

