{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Weather-App</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'forecast/img/weatherapp_logo.png' %}"/>
	<link rel="stylesheet" href="{% static 'forecast/css/main.css' %}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'forecast/css/weather-icons-master/css/weather-icons-wind.min.css' %}">
	<link rel="stylesheet" href="{% static 'forecast/css/weather-icons-master/css/weather-icons.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
		
		var AppId = "{{ api_key|safe }}";
		var icons = "{{icons|safe}}";

	</script>

</head>
<body>
	<div class="navbar">
		<span class='navitems'>
			<img src="{% static 'forecast/img/weatherapp_main.png' %}" alt="weather app" id='logo'>
		</span>
		<span class='navitems'> <a href=""><i class="fas fa-home"></i> Home</a></span>
		<span class='navitems'> <a href=""><i class="fas fa-sun"></i> Forecast</a></span>
		<span class='navitems'> <a href=""><i class="fab fa-connectdevelop"></i> Developers</a></span>
		<span class='navitems'> <a href=""><i class="fas fa-info"></i> Help</a></span>
	</div>
	<div class="search">
		<span class='location searchitems'><a href="" id="location"><i class="fas fa-location-arrow"></i></a></span>
		<span class='searchText searchitems'><input id='queryText' type="text" placeholder="City, Country."></span>
		<span class='searchIcon searchitems'><a><i class="fas fa-search"></i></a></span>

	</div>
	
	<div class="weather">
	</div>
	<div class="mainweather">

	</div>


	<div id="footer">
		<span class="footitems">&copy;vineeth code 2018</span>
		<span class="footitems"><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></span>
		<span class="footitems"><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></span>
		<span class="footitems"><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></span>
		<span class="footitems"><a href="https://www.github.com/vineethcode33"><i class="fab fa-github-alt"></i></a></span>
		<span class="footitems"><a href="vineethcode@outlook.com"><i class="fas fa-at"></i></a></span>
	</div>
	<script src="{% static 'forecast/js/main.js' %}" type="text/javascript" charset="utf-8" async defer>
		
	</script>
</body>
</html>